/*.markdown > div fonts  */

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/assets/fonts/spectral.woff2') format('woff2');
  unicode-range:
    U+0020-007F, U+00A0-00FF, U+20AC, U+2010, U+2013, U+2014, U+2018, U+2019, U+201A, U+201C,
    U+201D, U+201E, U+2039, U+203A, U+2026, U+2022;
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('/assets/fonts/spectral-i.woff2') format('woff2');
  unicode-range:
    U+0020-007F, U+00A0-00FF, U+20AC, U+2010, U+2013, U+2014, U+2018, U+2019, U+201A, U+201C,
    U+201D, U+201E, U+2039, U+203A, U+2026, U+2022;
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/assets/fonts/spectral-bold.woff2') format('woff2');
  unicode-range:
    U+0020-007F, U+00A0-00FF, U+20AC, U+2010, U+2013, U+2014, U+2018, U+2019, U+201A, U+201C,
    U+201D, U+201E, U+2039, U+203A, U+2026, U+2022;
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('/assets/fonts/spectral-bold-i.woff2') format('woff2');
  unicode-range:
    U+0020-007F, U+00A0-00FF, U+20AC, U+2010, U+2013, U+2014, U+2018, U+2019, U+201A, U+201C,
    U+201D, U+201E, U+2039, U+203A, U+2026, U+2022;
}

/* Tokens */
/* Core colors */
:root {
  --lightness: 0.9;
  --contrast: 0.02;
  --hue: 276;
  --chroma: 0.03;
  --lch-primary: calc(var(--lightness) - (var(--contrast) * 18)) calc(var(--chroma) + 0.25)
    var(--hue);
  --lch-black: 0.02 calc(var(--chroma) + 0.04) var(--hue);
  --lch-white: 1 0 0;
  --lch-theme: calc(var(--lightness) + 0.1) var(--chroma) var(--hue);
  --lch-inverse: calc(var(--lightness) - 0.9) var(--chroma) var(--hue);
  --lch-stacklight: calc(var(--lightness) + (var(--contrast) * 5)) var(--chroma) var(--hue);
  --lch-shadow: calc(var(--lightness) - (var(--contrast) * 2)) var(--chroma) var(--hue);
  --lch-background: calc(var(--lightness) + (var(--contrast) * 2)) var(--chroma) var(--hue);
  --lch-middleground: calc(var(--lightness) + (var(--contrast) * 3)) var(--chroma) var(--hue);
  --lch-foreground: calc(var(--lightness) + (var(--contrast) * 4)) var(--chroma) var(--hue);
  --lch-highlight: calc(var(--lightness) + (var(--contrast) * 5)) var(--chroma) var(--hue);
  --lch-edge: calc(var(--lightness) - (var(--contrast) * 45)) var(--chroma) var(--hue);
  --lch-detail: calc(var(--lightness) - (var(--contrast) * 22)) var(--chroma) var(--hue);
  --lch-content: calc(var(--lightness) - (var(--contrast) * 28)) var(--chroma) var(--hue);
  --lch-headline: calc(var(--lightness) - (var(--contrast) * 34)) var(--chroma) var(--hue);
  --lch-link: calc(var(--lightness) - (var(--contrast) * 18)) calc(var(--chroma) + 0.25) var(--hue);
  --lch-linkhover: calc(var(--lightness) - (var(--contrast) * 20)) calc(var(--chroma) + 0.25)
    var(--hue);
  --lch-error: 0.59 calc(var(--chroma) + 0.24) 360;
  --lch-caution: 0.69 calc(var(--chroma) + 0.2) 45;
  --lch-success: 0.55 calc(var(--chroma) + 0.2) 180;
  --lch-accent: 0.58 0.23 calc(var(--hue) + 40);
  --lch-tertiary: 0.58 0.23 calc(var(--hue) - 35);
}

/*.markdown > div styles  */

.markdown > div {
  font-size: 1rem;
  line-height: 1.7;
  color: oklch(var(--lch-content) / 1);
}

.markdown .blog > div {
  font-family: 'Spectral', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.875;
  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.markdown > div > h1,
.markdown > div > h2,
.markdown > div > h3 {
  position: relative;
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.015em;
  color: oklch(var(--lch-headline) / 1);
  text-wrap: pretty;
}

.markdown > div > h1 {
  font-size: 2rem;
  scroll-margin-top: 9.5rem;
}

.markdown > div > h2 {
  font-size: 1.5rem;
  scroll-margin-top: 6.875rem;
}

.markdown > div > h3 {
  font-size: 1.125rem;
  scroll-margin-top: 7.125rem;
}

.markdown > div > .intro {
  font-size: 1.125rem;
  color: oklch(var(--lch-content) / 1);
  text-wrap: balance;
}

.markdown > div > p {
  text-wrap: pretty;
}

/*.markdown > div elements */

.markdown > div > strong,
.markdown > div > p > strong {
  color: oklch(var(--lch-headline) / 1);
  font-weight: 600;
}

.markdown > div > hr {
  margin: 3rem 0 2.5rem 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.0625rem solid oklch(var(--lch-edge) / 0.1);
}

.markdown > div > p > code {
  max-width: 100%;
  border-radius: 0.25rem;
  color: oklch(var(--lch-detail) / 1);
  background-color: oklch(var(--lch-middleground) / 1);
  border: 1px solid oklch(var(--lch-edge) / 0.1);
  font-size: 0.9375em;
  padding: 0.125em 0.3125em 0.25em 0.3125em;
}

.markdown > div > .md-code + pre,
.markdown > div > .md-viewer + pre {
  margin: 0 0 2rem 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*.markdown > div links */

.markdown > div > p > a,
.markdown > div > ul > li > a,
.markdown > div > ol > li > a,
.markdown > div > p > em > a {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-right: 0.5ch;
  outline: none;
  color: oklch(var(--lch-link) / 1);
  text-decoration: underline;
  text-decoration-color: oklch(var(--lch-link) / 0.5);
  text-underline-offset: 0.325em;
  text-decoration-thickness: 0.0625em;

  transition: opacity 200ms ease-out 0ms;
}

@media (hover: hover) {
  .markdown > div > p > a:hover,
  .markdown > div > ul > li > a:hover,
  .markdown > div > ol > li > a:hover,
  .markdown > div > p > em > a:hover {
    opacity: 0.8;
  }
}

.markdown > div > p > a:focus-visible,
.markdown > div > ul > li > a:focus-visible,
.markdown > div > ol > li > a:focus-visible,
.markdown > div > p > em > a:focus-visible {
  background-color: oklch(var(--lch-link) / 1);
  color: white;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-focus);
}

/*.markdown > div lists */

.markdown > div > ul,
.markdown > div > ol {
  padding-left: 1rem;
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-wrap: pretty;
}

.markdown > div > ul > li > ul,
.markdown > div > ol > li > ol,
.markdown > div > ul > li > ol,
.markdown > div > ol > li > ul {
  padding: 0.5rem 0 0.0625rem 0.875rem;
  font-size: 1em;
  line-height: 1.5;
  color: oklch(var(--lch-content) / 1);
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.markdown > div > ul,
.markdown > div > ul > li > ul,
.markdown > div > ol > li > ul {
  list-style-type: disc;
}

.markdown > div > ul > li > ul,
.markdown > div > ol > li > ul {
  list-style: circle;
}

.markdown > div > ol,
.markdown > div > ol > li > ol,
.markdown > div > ul > li > ol {
  list-style-type: decimal;
}

.markdown > div > ul > li,
.markdown > div > ol > li {
  padding: 0 0 0 0.5rem;
}

.markdown > div > ol > li > ul > li,
.markdown > div > ol > li > ol > li {
  padding: 0 0 0 0.375rem;
}

.markdown > div > ul > li::marker {
  color: oklch(var(--lch-link) / 1);
}

.markdown > div > ol > li::marker {
  color: oklch(var(--lch-detail) / 1);
}

.markdown > div > ol > li > ol > li::marker,
.markdown > div > ol > li > ul > li::marker,
.markdown > div > ul > li > ol > li::marker,
.markdown > div > ul > li > ul > li::marker {
  color: oklch(var(--lch-headline) / 1);
}

.markdown > div > ol > li > ul > li::marker,
.markdown > div > ul > li > ul > li::marker {
  color: oklch(var(--lch-link) / 1);
}

.markdown > div > ol > li > strong,
.markdown > div > ul > li > strong {
  color: oklch(var(--lch-headline) / 1);
}

.markdown > div > ol > li > ol > li > strong,
.markdown > div > ul > li > ul > li > strong {
  color: oklch(var(--lch-headline) / 1);
}

/*.markdown > div blockquotes */

.markdown > div > blockquote {
  position: relative;
  font-family: 'Spectral', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-style: italic;
  padding-left: 1.5rem;
  text-wrap: pretty;
  color: oklch(var(--lch-headline) / 1);
  &:before {
    content: '';
    position: absolute;
    top: 0.375em;
    left: 0;
    height: calc(100% - 0.75em);
    border-left: 4px solid oklch(var(--lch-link) / 1);
  }
  @media (min-width: 768px) {
    padding-left: 2rem;
  }
}

/*.markdown > div images */
.markdown > div > div:has(img) {
  position: relative;
  width: 100%;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*.markdown > div spacing */

.markdown > div > h2 + h3,
.markdown > div > h1 + p,
.markdown > div > h2 + p,
.markdown > div > h3 + p,
.markdown > div > h1 + ul,
.markdown > div > h2 + ul,
.markdown > div > h3 + ul,
.markdown > div > h1 + ol,
.markdown > div > h2 + ol,
.markdown > div > h3 + ol {
  margin-top: 1rem;
}
.markdown > div > .intro + hr {
  margin-top: 2.5rem;
}
.markdown > div > p + h2,
.markdown > div > blockquote + div:has(img),
.markdown > div > div:has(img) + blockquote,
.markdown > div > ul + h2,
.markdown > div > ol + h2,
.markdown > div > blockquote + h2 {
  margin-top: 2.25rem;
}
.markdown > div > p + h3,
.markdown > div > ul + h3,
.markdown > div > ol + h3,
.markdown > div > blockquote + h3 {
  margin-top: 1.75rem;
}
.markdown > div > p + .md-block {
  margin-top: 1.5rem;
}
.markdown > div > p + p,
.markdown > div > ul + p,
.markdown > div > ol + p,
.markdown > div > div:has(img) + ol,
.markdown > div > div:has(img) + ul,
.markdown > div > blockquote + p,
.markdown > div > p + blockquote {
  margin-top: 1.25rem;
}
.markdown > div > p + ul,
.markdown > div > p + ol {
  margin-top: 0.75rem;
}

/* Syntax highlighting */
code[class*='language-'],
pre[class*='language-'] {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 0.9375rem;
  color: oklch(var(--lch-content) / 1);
  background-color: transparent;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'] {
  padding: 0.875rem 1rem;
  margin: 1rem 0;
  overflow: auto;
  border-radius: 0.25rem;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  border: 1px solid oklch(var(--lch-edge) / 0.1);
  background-color: oklch(var(--lch-middleground) / 1);
}

:not(pre) > code[class*='language-'] {
  white-space: normal;
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: oklch(var(--lch-detail) / 0.85);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: oklch(var(--lch-link) / 1);
}

.token.boolean,
.token.number {
  color: oklch(var(--lch-accent) / 1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: oklch(var(--lch-linkhover) / 1);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: oklch(var(--lch-content) / 1);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: oklch(var(--lch-accent) / 1);
}

.token.keyword {
  color: oklch(var(--lch-error) / 1);
}

.token.regex,
.token.important {
  color: oklch(var(--lch-caution) / 1);
}

.token.tag > .token.attr-value > .token.punctuation {
  color: oklch(var(--lch-content) / 1);
}

.token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
